<head> 


</head>
<div class="container">
  <mat-card class="login page">
    <mat-card title="login">login</mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div>
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" [(ngModel)]="user.name" placeholder="Enter your name" required>
         
        </div>

        <div>
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" [(ngModel)]="user.surname" placeholder="Enter your surname" required>
        </div>

        <div>
            <label for="firstname">email</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" placeholder="Enter your email address" required email>
        </div>

        <div>
            <label for="firstname">Enter Password</label>
          <input type="password" name="password" [(ngModel)]="user.password" placeholder="Enter your password" required>
        </div>

        <div>
            <label for="firstname">Confirm Password</label>
          <input type="password" name="cpassword" [(ngModel)]="user.cpassword" placeholder="Confirm your password" required>
        </div>

        <div class="button-group">
          <button type="submit" [disabled]="!userForm.form.valid">Login</button>
          <button type="reset">Reset</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>