<!-- <head> 


</head>
<div class="container">
    <mat-card class="login page">
      <mat-card title="login">login</mat-card>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div>
              <label for="login">First Name</label>
              <!--To add tooltip message use title attribute. I have added for this textbox, you can
              add them in other fields as well as buttons-->
              <input type="text" id="login" name="login" [(ngModel)]="user.name" placeholder="Enter your name" required title="First Name Required">
              <!--The below code is to check if user has touched the textbox and if the textbox is empty,
              validation message will be displayed. I have done it for one field, do it for rest of the fields as well-->
              <div *ngIf="userForm.controls['login']?.errors?.['required'] && userForm.controls['login'].touched">
                <p style="color: red;">First Name is required.</p>
              </div>
          </div>
  
          <div>
              <label for="login">Enter Password</label>
            <input type="password" name="password" [(ngModel)]="user.password" placeholder="Enter your password" required>
          
           <!--add validation message for password-->
          </div>
  
        
          <div class="button-group">
            <button type="submit">Login</button>
            <button type="reset">Reset</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div> -->