<head> 


</head>
<div class="container">
  <mat-card class="login page">
    <mat-card title="login">login</mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div>
          <div>Name</div>
          <input type="text" name="name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" placeholder="Enter your name" required>
        </div>

        <div>
          <div>Surname</div>
          <input type="text" name="surname" [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true}" placeholder="Enter your surname" required>
        </div>

        <div>
          <div>email address</div>
          <input type="email" name="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Enter your email address" required>
        </div>

        <div>
          <div>enter password</div>
          <input type="password" name="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Enter your password" required>
        </div>

        <div>
          <div>confirm password</div>
          <input type="password" name="cpassword" [(ngModel)]="user.cpassword" [ngModelOptions]="{standalone: true}" placeholder="Confirm your password" required>
        </div>

        <div class="button-group">
          <button type="submit">Login</button>
          <button type="reset">Reset</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>