<head></head>

<div class="container">
  <mat-card class="Update page">
    <mat-card title="Update">Update your data</mat-card>
    <mat-card-content>

      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
    <div>
      <label for="firstname">New Administrator Name</label>
      <input type="text" id="firstname" formControlName="firstname"  placeholder="Enter New Administrator name" required>
    
    </div>

    <div>
      <label for="lastname">New Administrator Surname</label>
      <input type="text" id="lastname" formControlName="lastname" placeholder="Enter New Administrator surname" required>
    </div>

    <div>
      <label for="newAdminEmail">New Administrator Email Address</label>
      <input type="email" id="newAdminEmail" formControlName="newAdminEmail"  placeholder="Enter New Administrator email address" required email>
    </div>

    <div>
      <label for="currentAdminName">Current Administrator Name</label>
      <input type="text" id="currentAdminName" formControlName="currentAdminName"  placeholder="Enter Current Administrator name" required>
    </div>

    <div>
      <label for="newAdminName">New Administrator Surname</label>
      <input type="text" id="newAdminSurname" formControlName="newAdminSurname"  placeholder="Enter Current Administrator surname" required>
    </div>
    
    <div>
      <label for="date">Select current date</label>
      <input type="date" id="date" formControlName="date" required>
    </div>

    <button type="submit" [disabled]="updateForm.invalid">Update</button>
    
  </form>
    </mat-card-content>
  </mat-card>
</div>
