<link rel="stylesheet" type="text/css" href="app.component.css">

<form action="" (submit)="onSubmit()"> 
 <div>
      <div>Name</div>
      <input type="text" 
      placeholder="Enter your name"
      name="name" 
      [(ngModel)]="user.name">

  </div>

  <div>
    <div>Surname </div>
    <input type="text" 
    placeholder="Enter your surname"
    surname="surname" [(ngModel)]="user.surname">

</div>  
<div>
  <div>email address</div>
  <input type="email" 
  placeholder="your@email.address"
  email="email" [(ngModel)]="user.email">

</div>  
<div>
  <div>enter password</div>
  <input type="password" 
  placeholder="Enter your password"
  password="password" [(ngModel)]="user.password">

</div>  
<div>
  <div>confirm password</div> 
  <input type="password" 
  placeholder="Confirm your password"
  confirmpassword ="cpassword" [(ngModel)]="user.cpassword">

</div>

<div>
  <button type="submit">submit</button>
</div>
</form> 
