<head> 


</head>
<mat-card class="login page">
  <mat-card title="login">login</mat-card>
  <mat-card-content>  
<form action="" (submit)="onSubmit()"> 
 <div>
      <div>Name</div>
      <input [(ngModel)]="user.name" [ngModelOptions]="{standalone: true} " placeholder="Enter your name">

  </div>

  <div>
    <div>Surname </div>
    <input [(ngModel)]="user.surname" [ngModelOptions]="{standalone: true} " placeholder="Enter your surname">
  

</div>  
<div>
  <div>email address</div>
  <input type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true} " placeholder="Enter your email address">


</div>  
<div>
  <div>enter password</div>
  <input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true} " placeholder="Enter your password">


</div>  
<div>
  <button type="submit">Login</button>
</div>
</form> 
</mat-card-content> 
</mat-card>